<h1>Welcome to new-domiat.com, <%= @agent.name %></h1>
    <p>
      You have successfully signed up to new-domiat.com,
      your username is: <%= @agent.name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Please confirm your signing up by clicking this link <%= link_to "Confirm Me", confirm_agent_url(@agent) %></p>