<h1>مرحبا في موقع www.new-domiat.com </h1>
<p>هنا نستطيع ان نقول أن لديكم من يسهر على راحتكم و توفير كل المعلومات الموثوقة و المطلوبة لمن يريد زيارة مدينتنا الجميلة او أي استفسار او بحث موثوق عن نشاطات أو أماكن أو شخصيات داخل المدينة</p>
<p>تستطيع أيضاً ان تعلن عن نشاطك أو مناسبتك باسلوب حديث و متطور تطبقه أحدث المواقع العالمية </p>
<hr>
<p>Email: mamdouh_farh@yahoo.com</p>
<p> Tel:01000200697</p>
<hr>

