
<h3 style="border-bottom:1px black solid; display:inline;">مرحبا بكم في موقع www.new-domiat.com </h3>
<br><br>
<p>هنا نستطيع ان نقول أن لديكم من يسهر على راحتكم و توفير كل المعلومات الموثوقة و المطلوبة لمن<br> يريد زيارة مدينتنا الجميلة او أي استفسار او بحث موثوق عن نشاطات أو أماكن أو شخصيات داخل المدينة</p>
<p>تستطيع أيضاً ان تعلن عن نشاطك أو مناسبتك باسلوب حديث و متطور تطبقه أحدث المواقع العالمية </p>
<hr>
<h4>معلومات الاتصال</h4>
<p>بريد الكتروني: mamdouh_farh@yahoo.com</p>
<p> موبايل:01000200697</p>
