<h3>The Art Gallary</h3>
<% announce_id=1 %>
<% pic_no=3 %>
<% pic_start=1000000+announce_id %>
<% (1..pic_no).each do |i| %>
<%= image_tag("https://s3-us-west-2.amazonaws.com/artpics/#{pic_start}#{i}.gif----", height: '250', width: '250') %>
<% end %>

<%= video_tag("https://s3-us-west-2.amazonaws.com/artpics/CSS+for+Developers+Creating+and+formatting+image+borders+first+3+seconds+only.mp4----", size: "560x400", poster: "https://s3-us-west-2.amazonaws.com/artpics/10000011.gif", controls: true, autobuffer: true) %>
