
<!-- <h3 style="margin-top:-20px;">مرحبا بكم في مدينة دمياط الجديدة</h3>
 -->
<div id="map-canvas" style="width:100%; height:700px;" ></div>
<!--
<% (1..15).each do |i|%>
<%= image_tag "image#{i}.jpg",:class => 'images' %>
<% end %>

<%= image_tag "logo.jpg", :id => "logo" %>
-->