/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/autocomplete
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_self
 *= require chosen
 *= require_tree .
 */
#the_top_of_the_page{
  margin-top: 30px;
}
#side_ads > div{
  background-color: red;

}
body > nav.pagination > span {
  padding-left: 10px;
  font-size: 16px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown{margin-right: -10px}
.ui-autocomplete { height: 100px; overflow-y: scroll; overflow-x: hidden;}

body > nav{
  z-index: 1;
}
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}*/

#search_key{
  display: none;
}

body{
    /*background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');*/
    padding:5px;
    /*margin-top:30px;*/
}

/*#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > strong > a{margin: 10px;}*/

body > ul > li > a > span{
    padding-left: 5px;
  }

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > strong:nth-child(2) > a:hover{
  text-decoration: none; /*deleting hover underline for خروج in the navbar*/
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > strong:nth-child(1) > a:hover{
  text-decoration: none; /*deleting hover underline for دخول in the navbar*/
}

.navbar-right{
	 /* margin-top: 16px;
  	font-size: 13px;*/
}

#error{
	font-size: 20px;
	color:red;
  font-weight: bold;
	padding-bottom: 20px;
	text-align: center;

}

#notice{
	font-size: 20px;
	padding-bottom: 20px;
	text-align: center;
}
