footer {
   width:100%;
   height:40px;   /* Height of the footer */
   background:#6cf;
   margin-top: -20px;
   overflow: hidden;

}
footer>a{
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
footer>a:hover{
	text-decoration: none;
	}

footer>div{
	width: 100%;
	text-align: center;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
html, body {
    height: 97%;
}
