<!DOCTYPE html>
<html dir="rtl">
<head>
   <title>New Domiat - الموقع تحت الانشاء </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/designbolts/seo/64/Natural-Link-icon.png">

  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="the_top_of_the_page" style="height:0; padding:0; margin:-10px"></div>   
  <h3>عفواً لقد حدث خطأٌ ما</h3>
				
				<%= yield %>

            <hr>

            <footer >
                <p>© Mamdouh Abbas Farh 2015</p>
            </footer>
</body>
</html>
